@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 20px;
  background-color: #FFFAF0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  text-align: center;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

small {
  font-size: 32px;
}


/* header */

#logo {
  font-size: 48px;
  color: #FA8072;
  font-weight: bold;
  &:hover {
    color: #FFA07A;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 100px;
  padding-bottom: 50px;
  color: black;
  a {
    color: gray;
  }
  small {
    float: left;
    font-size: 12px;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* form */
form {
  text-align: center;
  font-size: 40px;
}
input#word {
  width: 60%;
  height: 48px;
  font-size: 16px;
  margin-right: 5px;
}


/* top-shelf */
.top-shelf {
  margin: 40px 20px;
  h2 {
    text-align: left;
    font-size: 16px;
    color: #333333;
  }
}


/* results-wrapper */

.search-results {
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  li {
    padding: 10px 0 20px 0;
    border-top: 1px solid #e8e8e8;
    height: 140px;
    .search-result {
      float: left;
      width: 100%;
      text-align: left;
    }
    .main-attributes {
      float: left;
      width: 30%;
      .media-avatar{
        float: left;
        margin-right: 15px;
      }
    }
    .secondary-attributes {
      float: left;
      width: 70%;
      .walk-time{
        padding-left: 10px;
      }
      address{
        margin-bottom: 5px;
      }
      .google-link{
        display: block;
        margin-top: 5px;
      }
    }
  }
  li:last-child{
    border-bottom: 1px solid #e8e8e8;
  }
}


/* map-wrapper */

.map-wrapper {
  margin-top: 50px;
}
#map {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  padding: 75% 0 0;
}


/* home */
.home-container {
  .search-sushi{
    margin-top: 50px;
    text-align: center;
  }
  .search-by-current-location {
    margin-top: 50px;
  }
}


/* error */
#error {
    font-size: 16px;
    height: 50px;
    margin: 30px 0 20px 0;
}
