<div class="result">
  検索結果
</div>
<div class="result">
    <p><%= @results.businesses[0].name %></p>
    <p><%= @results.businesses[1].name %></p>
    <p><%= @results.businesses[2].name %></p>
</div>
