<footer class="footer">
  <small>
    <a href="https://github.com/HISAS/i_love_sushi">I love sushi</a>
    © <a href="https://github.com/HISAS">Kamezawa Hisashi</a>
     2016 powered by <a href="https://dashboard.heroku.com/">heroku</a>
  </small>
</footer>
